target/
*.class
*.jar
*.war
*.log
.idea/
*.iml
.DS_Store
.settings/
.classpath
.project
.factorypath
node_modules/
npm-debug.log*
.mvn/
mvnw
mvnw.cmd
.codegeex/
.codex/
.config/
.cursor/
.dotnet/
.vscode/
*.orig
*.bak
